<a href="https://colab.research.google.com/github/MfundoMhlanga/new_project/blob/main/Demand_Gen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing libraries

import pandas as pd
import numpy as np

In [2]:
#loading data and storing as dataframes

qlick = pd.read_excel('Qlik_over_under_mtd_all_Markets_all_Nameplates (1).xlsx')
demand = pd.read_excel('Demand Objectives Aug_20230817_ unhide - Mfundo.xlsx', sheet_name= 'Raw')
qlick.head()

,Market,Model,DIM_MONTH,Year,Vehicle Category,MTD,Cal'd Obj,O/(U) Cal'd Obj,Expected,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Austria,Bronco 725N,8,2023,PV,0,1.000000,0,0.0,NaN,NaN,NaN,2.1
1,Austria,BX726,8,2023,PV,31,33.535334,0.92439812509524,65.1,NaN,NaN,NaN,NaN
2,Austria,C519 FOCUS MCA,8,2023,PV,13,13.000000,1,NaN,NaN,NaN,NaN,NaN
3,Austria,FIESTA B479 MCA,8,2023,PV,13,13.300000,0.97744360902256,NaN,NaN,NaN,NaN,NaN
4,Austria,KUGA CX482,8,2023,PV,23,39.610576,0.58065300792644,NaN,NaN,NaN,NaN,NaN

In [3]:
# Function to lowercase text and search for specific words
def search_and_store(text):
    text = text.lower()
    words_to_search = ['fiesta', 'focus', 'kuga', 'mach-e', 'puma', 'ranger', 'tourneo connect', 'tourneo custom', 'transit', 'transit connect', 'transit courier', 'transit custom']  # Replace with your specific words
    found_words = [word for word in words_to_search if word in text]
    return ', '.join(found_words)

# Apply the function to the 'Model' and store results in a new 'Nameplate' column
qlick['Nameplate'] = qlick['Model'].apply(search_and_store)
qlick['Nameplate'].dropna()
qlick['Nameplate'].reset_index(drop=True, inplace=True)
qlick['Nameplate'].unique()

array(['', 'focus', 'fiesta', 'kuga', 'mach-e', 'tourneo connect'],
      dtype=object)

In [4]:
#Filtering for the available nameplates

qlick = qlick[(qlick['Nameplate'] == 'focus')|(qlick['Nameplate'] == 'fiesta')|(qlick['Nameplate'] == 'kuga')|(qlick['Nameplate'] == 'mach-e')|(qlick['Nameplate'] == 'tourneo connect')]

In [5]:
#Filtering for the columns I will use

sub_qlick = qlick[["Market", "Nameplate", "O/(U) Cal'd Obj"]]
sub_qlick['Market'] = sub_qlick['Market'].str.lower() #lower cases to match demand dataframe
sub_qlick

<ipython-input-5-2e7446aa13f9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_qlick['Market'] = sub_qlick['Market'].str.lower() #lower cases to match demand dataframe

          Market        Nameplate    O/(U) Cal'd Obj
2        austria            focus                  1
3        austria           fiesta   0.97744360902256
4        austria             kuga   0.58065300792644
5        austria           mach-e  0.067415730337079
8        austria  tourneo connect    5.3867314951059
..           ...              ...                ...
163  switzerland            focus   0.22222222222222
164  switzerland           fiesta  0.090225563909774
166  switzerland             kuga    1.2964191030254
167  switzerland           mach-e   0.15452991452991
171  switzerland  tourneo connect    6.8080808080808

[91 rows x 3 columns]

In [6]:
#Filtering for the columns I will use and lower the nameplates

sub_demand = demand[['MARKET', 'NAMEPLATE', 'Forecast Visits', 'Forecast B&P','Forecast Leads','Visit objectives','B&P objectives', 'Lead objectives']]
sub_demand['NAMEPLATE'] = sub_demand['NAMEPLATE'].str.lower()
sub_demand

<ipython-input-6-7dfa30eb3139>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_demand['NAMEPLATE'] = sub_demand['NAMEPLATE'].str.lower()

,MARKET,NAMEPLATE,Forecast Visits,Forecast B&P,Forecast Leads,Visit objectives,B&P objectives,Lead objectives
0,ESO,cv,250585.99998,32852.00001,578.57166,125487.764926,19159.966472,180.132628
1,ESO,fiesta,57219.99999,5420.00001,51.42864,120156.588465,20253.562748,81.096473
2,ESO,focus,111484.00002,19528.00002,173.57148,188931.993102,38464.102994,263.466310
3,ESO,kuga,206632.00002,19424.00001,270.00003,276764.127950,31102.291028,362.295167
4,ESO,mach-e,171827.99997,18884.00001,591.42855,517365.887484,47727.693339,1117.466409
...,...,...,...,...,...,...,...,...
115,spain,tourneo custom,NaN,NaN,NaN,NaN,NaN,NaN
116,spain,transit,16064.00001,1694.00001,49.28571,2457.529814,118.498242,11.738782
117,spain,transit connect,5298.00000,945.99999,21.42858,908.939740,168.574593,16.968730
118,spain,transit courier,3600.00000,584.00001,15.00000,204.714286,31.333333,2.619048
119,spain,transit custom,10868.00001,1586.00001,40.71429,4182.206505,603.578001,49.724423

In [ ]:
#lower cases to match the dataframes

sub_qlick.columns = sub_qlick.columns.str.lower()
sub_demand.columns = sub_demand.columns.str.lower()

In [ ]:
#Merging the two dataframes

result = pd.merge(sub_demand, sub_qlick, how="right", on=["market", "nameplate"])
result['market'].unique()

array(['austria', 'belgium', 'britain', 'czech republic', 'denmark',
       'finland', 'france', 'germany', 'greece', 'hungary', 'ireland',
       'italy', 'netherlands', 'norway', 'poland', 'portugal', 'romania',
       'spain', 'sweden', 'switzerland'], dtype=object)

In [ ]:
#Filtering to the EU5 countries

eu5 = result[(result['market'] == 'britain')|(result['market'] == 'france')|(result['market'] == 'italy')|(result['market'] == 'spain')|(result['market'] == 'germany')]
eu5.reset_index(drop=True, inplace=True)
eu5

,market,nameplate,forecast visits,forecast b&p,forecast leads,visit objectives,b&p objectives,lead objectives,o/(u) cal'd obj
0,britain,focus,111278.00001,13868.00001,327.85713,105356.461275,14903.178826,96.467562,0.87383177570093
1,britain,fiesta,73838.00001,9279.99999,432.85713,87630.825144,16375.858989,142.076808,1.0406420765027
2,britain,kuga,185037.99999,14829.99999,726.42858,110310.330923,17177.759332,705.889664,0.98168490582814
3,britain,mach-e,101366.00001,9957.99999,2202.85713,227847.040446,26791.449892,989.893507,0.43972984104708
4,britain,tourneo connect,NaN,NaN,NaN,NaN,NaN,NaN,-
5,france,focus,33465.99999,4266.00000,100.71429,14450.441880,5405.415701,48.104700,0.83809523809524
6,france,fiesta,16125.99999,8.00001,21.42858,5151.985641,49.090633,20.294451,0.56140350877193
7,france,kuga,69722.00001,5550.00000,180.00000,74238.221041,6108.100783,222.730131,0.33967453601309
8,france,mach-e,81615.99999,7592.00001,57.85713,34120.158689,3421.505581,22.678607,7.8047116512099
9,france,tourneo connect,9837.99999,900.00000,12.85713,8605.461179,851.342227,7.052400,1.0191565934509
10,germany,focus,65780.00001,15278.00001,210.00000,43909.877700,19307.294246,128.758800,0.98388888888889
11,germany,fiesta,36696.00000,5859.99999,100.71429,55855.948000,8662.869384,33.767000,0.88933333333333
12,germany,kuga,120990.00000,22514.00001,439.28571,97830.358560,26937.138471,372.188740,0.91239669421488
13,germany,mach-e,63564.00000,12656.00001,113.57142,207098.540146,29058.394161,431.386861,0.29388888888889
14,germany,tourneo connect,28052.00001,4248.00000,0.00000,43898.744000,2565.145056,0.386480,0.62291666666667
15,italy,focus,48230.00001,10368.00000,675.00000,38708.353794,14012.154955,323.633900,0.61338289962825
16,italy,fiesta,39657.99999,6366.00000,653.57142,52176.160488,9579.185348,450.727224,0.78731343283582
17,italy,kuga,52946.00001,8013.99999,1810.71429,77422.912800,8367.045069,475.110686,0.64
18,italy,mach-e,40164.00000,2325.99999,312.85713,56996.127564,2259.965077,279.924944,0.7280276816609
19,italy,tourneo connect,11124.00000,1614.00000,23.57142,7670.206749,1515.996127,18.701866,0.8311480913537
20,spain,focus,40311.99999,6753.99999,387.85713,35865.471213,9012.282052,568.728201,0.79518072289157
21,spain,fiesta,18146.00001,21.99999,190.71429,13656.530202,2937.160954,214.744950,0.16326530612245
22,spain,kuga,35424.00000,4377.99999,417.85713,96663.277069,6037.805121,783.517865,0.60122180888018
23,spain,mach-e,31359.99999,2424.00000,190.71429,271124.736000,7271.680000,684.970667,0.20380434782609
24,spain,tourneo connect,11670.00000,1401.99999,45.00000,4884.488040,462.460880,52.153241,1.9159225238595

In [ ]:
#filling all nulls to 0's and replace -'s with 0's

eu5 = eu5.fillna(0)
eu5 = eu5.replace('-', 0)
eu5

,market,nameplate,forecast visits,forecast b&p,forecast leads,visit objectives,b&p objectives,lead objectives,o/(u) cal'd obj
0,britain,focus,111278.00001,13868.00001,327.85713,105356.461275,14903.178826,96.467562,0.87383177570093
1,britain,fiesta,73838.00001,9279.99999,432.85713,87630.825144,16375.858989,142.076808,1.0406420765027
2,britain,kuga,185037.99999,14829.99999,726.42858,110310.330923,17177.759332,705.889664,0.98168490582814
3,britain,mach-e,101366.00001,9957.99999,2202.85713,227847.040446,26791.449892,989.893507,0.43972984104708
4,britain,tourneo connect,0.00000,0.00000,0.00000,0.000000,0.000000,0.000000,0
5,france,focus,33465.99999,4266.00000,100.71429,14450.441880,5405.415701,48.104700,0.83809523809524
6,france,fiesta,16125.99999,8.00001,21.42858,5151.985641,49.090633,20.294451,0.56140350877193
7,france,kuga,69722.00001,5550.00000,180.00000,74238.221041,6108.100783,222.730131,0.33967453601309
8,france,mach-e,81615.99999,7592.00001,57.85713,34120.158689,3421.505581,22.678607,7.8047116512099
9,france,tourneo connect,9837.99999,900.00000,12.85713,8605.461179,851.342227,7.052400,1.0191565934509
10,germany,focus,65780.00001,15278.00001,210.00000,43909.877700,19307.294246,128.758800,0.98388888888889
11,germany,fiesta,36696.00000,5859.99999,100.71429,55855.948000,8662.869384,33.767000,0.88933333333333
12,germany,kuga,120990.00000,22514.00001,439.28571,97830.358560,26937.138471,372.188740,0.91239669421488
13,germany,mach-e,63564.00000,12656.00001,113.57142,207098.540146,29058.394161,431.386861,0.29388888888889
14,germany,tourneo connect,28052.00001,4248.00000,0.00000,43898.744000,2565.145056,0.386480,0.62291666666667
15,italy,focus,48230.00001,10368.00000,675.00000,38708.353794,14012.154955,323.633900,0.61338289962825
16,italy,fiesta,39657.99999,6366.00000,653.57142,52176.160488,9579.185348,450.727224,0.78731343283582
17,italy,kuga,52946.00001,8013.99999,1810.71429,77422.912800,8367.045069,475.110686,0.64
18,italy,mach-e,40164.00000,2325.99999,312.85713,56996.127564,2259.965077,279.924944,0.7280276816609
19,italy,tourneo connect,11124.00000,1614.00000,23.57142,7670.206749,1515.996127,18.701866,0.8311480913537
20,spain,focus,40311.99999,6753.99999,387.85713,35865.471213,9012.282052,568.728201,0.79518072289157
21,spain,fiesta,18146.00001,21.99999,190.71429,13656.530202,2937.160954,214.744950,0.16326530612245
22,spain,kuga,35424.00000,4377.99999,417.85713,96663.277069,6037.805121,783.517865,0.60122180888018
23,spain,mach-e,31359.99999,2424.00000,190.71429,271124.736000,7271.680000,684.970667,0.20380434782609
24,spain,tourneo connect,11670.00000,1401.99999,45.00000,4884.488040,462.460880,52.153241,1.9159225238595

In [ ]:
#Percentage calculation between Forcasts and Objectives with ERROR HANDLING

eu5['% of visits'] = eu5.apply(lambda x: x['forecast visits']/x['visit objectives'] if x['visit objectives'] != 0 else 0, axis=1)
eu5['% of b&p'] = eu5.apply(lambda x: x['forecast b&p']/x['b&p objectives'] if x['b&p objectives'] != 0 else 0, axis=1)
eu5['% of Leads'] = eu5.apply(lambda x: x['forecast leads']/x['lead objectives'] if x['lead objectives'] != 0 else 0, axis=1)

In [ ]:
eu5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   market            25 non-null     object
 1   nameplate         25 non-null     object
 2   forecast visits   25 non-null     float64
 3   forecast b&p      25 non-null     float64
 4   forecast leads    25 non-null     float64
 5   visit objectives  25 non-null     float64
 6   b&p objectives    25 non-null     float64
 7   lead objectives   25 non-null     float64
 8   o/(u) cal'd obj   25 non-null     object
 9   % of visits       25 non-null     float64
 10  % of b&p          25 non-null     float64
 11  % of Leads        25 non-null     float64
dtypes: float64(9), object(3)
memory usage: 2.5+ KB

In [ ]:
# Function to convert floats to integers
def convert_float_to_int(value):
    if isinstance(value, float):
        return int(value)
    else:
        return value

# Apply the conversion function to each cell in the DataFrame
eu5 = eu5.applymap(convert_float_to_int)

In [ ]:
eu5["o/(u) cal'd obj"] = eu5["o/(u) cal'd obj"].astype(float)
eu5["o/(u) cal'd obj"] = eu5["o/(u) cal'd obj"].astype(int)

In [ ]:
# Function to calculate estimates with 5% variance

def estimate_b(row):
    # Calculate a random number with 5% variance
    variance = 0.05 * row['% of visits']
    estimate = np.random.uniform(row['% of visits'] - variance, row['% of visits'] + variance)
    return estimate

# Apply the function to each row and create a new column 'Estimated_B'

eu5['Estimated_B'] = eu5["o/(u) cal'd obj"].apply(estimate_b)

# Print the DataFrame with estimated values
print(eu5)

TypeError: 'int' object is not subscriptable

In [ ]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\mfundo.mhlanga\appdata\local\anaconda3\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\mfundo.mhlanga\appdata\local\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.