<a href="https://colab.research.google.com/github/MfundoMhlanga/new_project/blob/main/Tittles_grouped.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/MfundoMhlanga/new_project/main/joblisting_df.csv', index_col = False)

In [9]:
df.head()

,Unnamed: 0,Unnamed: 0.1,title,company,location,job_desc,date_posted,date_scrapped,salary,job_url
0,0,0,AWS Data Science Architect (QlikView & QlikSen...,iSanqa Resourcing,"Midrand, Johannesburg",AWS Data Science Architect (QlikView & QlikSen...,None,2022-05-08,NaN,https://www.careerjet.co.za/jobad/zae5921d3d4a...
1,1,1,Business Intelligence Developer (with Cloud an...,e-Merge IT Recruitment,"Johannesburg, Gauteng",An awesome opportunity is available for a Busi...,2 days ago,2022-05-08,NaN,https://www.careerjet.co.za/jobad/zadbe4ba70e8...
2,2,2,Data science manager,Communicate Recruitment,"Johannesburg, Gauteng",*Reference: CPM008305-THa-2* Our client in f...,3 days ago,2022-05-08,"R620,000-700,000 per year",https://www.careerjet.co.za/jobad/zae0c9b80b17...
3,3,3,Data science manager,Communicate Recruitment,"Johannesburg, Gauteng",*Reference: CPM008305-RMo-1* Our client in f...,3 days ago,2022-05-08,"R620,000-700,000 per year",https://www.careerjet.co.za/jobad/zab3ed08a036...
4,4,4,Business Intelligence Developer (with Cloud an...,e-Merge IT Recruitment,"Johannesburg, Gauteng",An awesome opportunity is available for a Busi...,3 days ago,2022-05-08,NaN,https://www.careerjet.co.za/jobad/za589075d2ad...

In [10]:
df = df.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis = 1)

In [13]:
df.groupby(by=["title"]).sum().head(10)

,company,location,job_desc,date_posted,date_scrapped,salary,job_url
title,,,,,,,
.Net Software Engineer,0,"Roodepoort, Gauteng","Have good, effective written and verbal commun...",Posted30+ days ago,2022-05-09,0,https://www.indeed.com/rc/clk?jk=95f7d09a4b4af...
"2022 Graduate - Data Science Associate, Agribusiness Intelligence (Cape Town)",IHS MarkitIHS MarkitIHS MarkitIHS MarkitIHS Ma...,"Cape Town, Western CapeCape Town, Western Cape...",Company & Team – “About Us” Agri at IHS Mark...,2 months ago2 months ago2 months ago2 months a...,2022-05-082022-05-082022-05-082022-05-082022-0...,0,https://www.careerjet.co.za/jobad/zaa098bcd8b4...
2x BUSINESS ANALYST (INFORMATION SYSTEMS) – EAST LONDON,0,"East London, Eastern Cape","To improve efficiency, reduce waste, identify ...",Posted17 days ago,2022-05-09,0,https://www.indeed.com/rc/clk?jk=7cd3a12f7ed07...
AML Analyst,0,"Cape Town, Western CapeCape Town, Western Cape",First Line AML Analyst KYC data Maintenance Fu...,Posted30+ days agoPosted30+ days ago,2022-05-092022-05-09,0,https://www.indeed.com/rc/clk?jk=c926b289ad960...
ATTOL Developer,"<a class=""turnstileLink companyOverviewLink"" d...","Johannesburg, Gauteng",ATOLL DTM clutter upgrade and data verificatio...,Posted30+ days ago,2022-05-09,R480 - R500 a day,https://www.indeed.com/rc/clk?jk=243cab84fee89...
AWS Data Science Architect (Contract) Midrand/Menlyn/Rosslyn/Home Office rotation - ISB2102000,iSanqa ResourcingiSanqa ResourcingiSanqa Resou...,"Midrand, JohannesburgMidrand, JohannesburgMidr...",AWS Data Science Architect (Contract) Midrand/...,23 days ago23 days ago23 days ago23 days ago23...,2022-05-082022-05-082022-05-082022-05-082022-0...,0,https://www.careerjet.co.za/jobad/za6e0b30f65b...
AWS Data Science Architect (QlikView & QlikSense) (Contract) - Midrand/Menlyn/Rosslyn/Home Office rotation - ISB3902031,iSanqa ResourcingiSanqa ResourcingiSanqa Resou...,"Midrand, JohannesburgMidrand, JohannesburgMidr...",AWS Data Science Architect (QlikView & QlikSen...,NoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNo...,2022-05-082022-05-082022-05-082022-05-082022-0...,0,https://www.careerjet.co.za/jobad/zae5921d3d4a...
AWS Data Science Architect – Semi Remote – R742 Per hour,e-Merge IT Recruitmente-Merge IT Recruitmente-...,"Pretoria, GautengPretoria, GautengPretoria, Ga...",Our international manufacturing client with he...,14 days ago14 days ago14 days ago14 days ago14...,2022-05-082022-05-082022-05-082022-05-082022-0...,R619-742 per hourR619-742 per hourR619-742 per...,https://www.careerjet.co.za/jobad/za95a595a71d...
Acquisition & Engagement Data Analyst,0,"Remote in Cape Town, Western Cape",You enjoy helping non-analysts to put data at ...,Posted30+ days ago,2022-05-09,0,https://www.indeed.com/rc/clk?jk=38ef5bfa3b351...
Actuarial Analyst,"<a class=""turnstileLink companyOverviewLink"" d...","South AfricaGauteng, GautengPretoria, Gauteng",JOB REQ: 114804 - Refilwe Falatsi.Employment E...,Posted30+ days agoPosted25 days agoPosted30+ d...,2022-05-092022-05-092022-05-09,0,https://www.indeed.com/company/ClearScore/jobs...